header{
    margin-top: 20px;
}

i {
    color: blue;
}

#lista{
    margin-top: 150px;
    margin-right: 250px;
    margin-bottom: 200px;
}

#f-1{
    div{
        background-color: blue;
        content: "";
        padding-top: 50px;
        
    }
}
#f-2{
    div{
        background-color: red;
        content: "";
        padding-top: 50px;
        margin-top: 10px;
        
    }
}
#f-3{
    div{
        background-color: yellow;
        content: "";
        padding-top: 50px;
        margin-top: 10px;
        
    }
}
#f-4{
    div{
        background-color: rgb(255, 145, 0);
        content: "";
        padding-top: 50px;
        margin-top: 10px;
        
    }
}
#f-5{
    div{
        background-color: rgb(123, 255, 0);
        content: "";
        padding-top: 50px;
        margin-top: 10px;
        
    }
}
#f-6{
    div{
        background-color: rgb(160, 187, 139);
        content: "";
        padding-top: 50px;
        margin-top: 10px;
        
    }
}
#f-7{
    div{
        background-color: rgb(195, 0, 255);
        content: "";
        padding-top: 50px;
        margin-top: 10px;
        
    }
}
#f-8{
    div{
        background-color: rgb(117, 117, 117);
        content: "";
        padding-top: 50px;
        margin-top: 10px;
        
    }
}