/* line 3, ../sass/style.scss */
.izquierda {
  background-color: aqua;
  content: "";
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  position: absolute;
  height: 850px;
  width: 850px;
  margin: 0;
}

/* line 14, ../sass/style.scss */
.derecha {
  background-color: red;
  content: "";
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: static;
  height: 870px;
  width: 870px;
  margin: 0;
  z-index: 0;
}

/* line 26, ../sass/style.scss */
.one {
  padding-left: 40px;
}

/* line 30, ../sass/style.scss */
.two {
  z-index: 2;
  padding-top: 200px;
  padding-left: 300px;
  align-content: flex-end;
}
